In [1]:
# 使用read_csv函数读取销售流水记录表1.csv
# 导入pandas
import pandas as pd
data1 = pd.read_csv('../data/销售流水记录1.csv',encoding='gb18030',low_memory=False)
print('使用read_csv函数读取的销售流水记录表1的长度为:',len(data1))
data1.iloc[0:5,0:4]

使用read_csv函数读取的销售流水记录表1的长度为: 611200

    create_dt         order_id      sku_id                  sku_name
0  2018-12-04  100001060733254  2005932936          金龙鱼 葵花籽清香型调和油 5L
1  2016-11-30  628897900000121  2005508919                进口 香蕉 约1kg
2  2016-11-30  628897900000121  2004962651  伊利 畅轻风味发酵乳 燕麦+芒果味酸奶 250g
3  2016-11-30  628897900000121  2005468766          新希望 记忆风味发酵乳 195g
4  2016-11-30  628927740000022  2003138337           三全 猪肉香菇灌汤水饺 1kg

In [2]:
# 使用read_csv函数读取销售流水记录表2.csv,header=None
data2 = pd.read_csv('../data/销售流水记录2.csv',encoding='gb18030',header=None,low_memory=False)
print('使用read_csv函数读取的销售流水记录表2的长度为:',len(data2))
print('列名为None时候的订单信息表为:')
data2.iloc[0:5,0:4]

使用read_csv函数读取的销售流水记录表2的长度为: 610656
列名为None时候的订单信息表为:

            0                1           2                         3
0   create_dt         order_id      sku_id                  sku_name
1  2017-07-22  717481014000141  2006544612       吉香居 组合装 风味豆豉 280g*2
2  2017-07-22  717481014000141  2008180827  伊利 优酸乳果粒酸奶饮品哈密瓜味 245g*12
3  2017-07-22  717484722000342  2005526101               优选五花肉 约500g
4  2017-07-22  717484722000342  2005508971               优选后腿肉 约500g

In [3]:
data3 = pd.read_csv('../data/销售流水记录2.csv',encoding='gb18030')

/var/folders/kd/hchsygq14tzfsjn6c4ybf3rh0000gn/T/ipykernel_9690/432764573.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv('../data/销售流水记录2.csv',encoding='gb18030')

In [4]:
# 使用to_csv函数将销售流水记录写入新的csv文件中
import os
print('销售流水记录表写入csv文本目录前该目录内文件列表为:\n',os.listdir('../tmp'))
# 将dat1以csv格式存储
data1.to_csv('../tmp/新销售流水记录表.csv',sep=';',index=False)
print('销售流水记录表写入csv文本目录后该目录内文件列表为:\n',os.listdir('../tmp'))

销售流水记录表写入csv文本目录前该目录内文件列表为:
 ['新销售流水记录表.csv', '新折扣.xlsx', '.DS_Store']
销售流水记录表写入csv文本目录后该目录内文件列表为:
 ['新销售流水记录表.csv', '新折扣.xlsx', '.DS_Store']

In [5]:
# 使用read_excel函数读取折扣信息表.xlsx
data3 = pd.read_excel('../data/折扣信息表.xlsx')
print('data3信息长度为:',len(data3))
data3.iloc[0:5,0:5]

data3信息长度为: 11420

,id,promotion_info_id,promotion_no,sku_id,sku_name
0,158219382,5200661,\N,2008180830,蒙牛 巴氏杀菌热处理风味酸牛奶（经典原味） 200g*16盒
1,158231606,5200754,\N,2008851057,鲜美来 黑椒鱼排 130g
2,158147701,5196604,\N,2007007666,特仑苏 新西兰进口 环球精选纯牛奶 250g*12
3,199303566,8410779,\N,2005468475,草莓白巧 42g
4,199256080,8405678,\N,2011726019,安美鲜 美国天天牛扒 150g

In [6]:
# 使用to_excel函数将折扣信息表存储为Excel文件
print('data3写入excel文件前目录内文件列表为\n',os.listdir('../tmp'))
data3.to_excel('../tmp/新折扣.xlsx',sheet_name='折扣表1')
print('data3写入excel文件后目录内文件列表为\n',os.listdir('../tmp'))

data3写入excel文件前目录内文件列表为
 ['新销售流水记录表.csv', '新折扣.xlsx', '.DS_Store']
data3写入excel文件后目录内文件列表为
 ['新销售流水记录表.csv', '新折扣.xlsx', '.DS_Store']

In [14]:
import pandas as pd
import sqlalchemy
sqlalchemy_db = sqlalchemy.create_engine(
                'mysql+pymysql://root:syccsn0305@localhost:3306/big_data')
print(sqlalchemy_db)

Engine(mysql+pymysql://root:***@localhost:3306/big_data)

In [15]:
# 使用read_sql_sqery函数查看big_data中数据表数目
formlist = pd.read_sql_query('show tables', con=sqlalchemy_db)
print('onlinedb数据库数据表清单为:','\n',formlist)

onlinedb数据库数据表清单为:
   Tables_in_big_data
0              sale2

In [19]:
# 使用read_sql_table函数读取big_data销售流水数据表
detail1 = pd.read_sql_table('sale2',con=sqlalchemy_db)
print('使用read_sql_table读取big_data销售流水数据表为','\n',len(detail1))

使用read_sql_table读取big_data销售流水数据表为
 610655

In [20]:
# 使用read_sql读取销售流水记录表
detail2 = pd.read_sql('select * from sale2', con=sqlalchemy_db)
print('使用read_sql函数+sql语句读取销售流水记录表的长度为:',len(detail2))
detail3 = pd.read_sql('sale2',con=sqlalchemy_db)
print('使用read_sql函数+表名读取的销售流水记录表长度为:',len(detail3))

使用read_sql函数+sql语句读取销售流水记录表的长度为: 610655
使用read_sql函数+表名读取的销售流水记录表长度为: 610655

In [21]:
import pandas as pd
import sqlalchemy
sqlalchemy_db = sqlalchemy.create_engine(
                'mysql+pymysql://root:syccsn0305@localhost:3306/onlinedb')
print(sqlalchemy_db)

Engine(mysql+pymysql://root:***@localhost:3306/onlinedb)

In [22]:
# 使用read_sql_sqery函数查看onlinedb中数据表数目
formlist = pd.read_sql_query('show tables', con=sqlalchemy_db)
print('onlinedb数据库数据表清单为:','\n',formlist)

onlinedb数据库数据表清单为:
    Tables_in_onlinedb
0           adminuser
1                cart
2            category
3               goods
4           goods_bak
5       goods_history
6        orderdetsils
7              orders
8          ordersitem
9               users
10          view_cart
11         view_users

In [23]:
# 使用read_sql_table函数读取onlinedb销售流水数据表
detail1 = pd.read_sql_table('orders',con=sqlalchemy_db)
print('使用read_sql_table读取onlinedb销售流水数据表为','\n',len(detail1))

使用read_sql_table读取onlinedb销售流水数据表为
 28

In [24]:
# 使用read_sql读取onlinedb销售流水记录表
detail2 = pd.read_sql('select * from orders', con=sqlalchemy_db)
print('使用read_sql函数+sql语句读取销售流水记录表的长度为:',len(detail2))
detail3 = pd.read_sql('orders',con=sqlalchemy_db)
print('使用read_sql函数+表名读取的销售流水记录表长度为:',len(detail3))

使用read_sql函数+sql语句读取销售流水记录表的长度为: 28
使用read_sql函数+表名读取的销售流水记录表长度为: 28

In [25]:
import pandas as pd
import sqlalchemy
sqlalchemy_db = sqlalchemy.create_engine(
                'mysql+pymysql://root:******@localhost:3306/big_data')
print(sqlalchemy_db)

Engine(mysql+pymysql://root:***@localhost:3306/big_data)

In [28]:
# 使用read_sql_table函数读取big_data销售流水数据表
detail1 = pd.read_sql_table('sale2',con=sqlalchemy_db)
print('使用read_sql_table读取big_data销售流水数据表为','\n',len(detail1))

使用read_sql_table读取big_data销售流水数据表为
 610655

In [30]:
# 使用to_sql方法存储将detail1的数据村到big_data数据库中
detail1.to_sql('sale_copy', con=sqlalchemy_db, index=False,if_exists='replace')

610655

In [31]:
# 使用read_sql_query方法读取big_data
formlist1 = pd.read_sql_query('show tables',con=sqlalchemy_db)
print('新增一个复制表格后big_data数据库数据表清单为:','\n',formlist1)

新增一个复制表格后big_data数据库数据表清单为:
   Tables_in_big_data
0              sale2
1          sale_copy